@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jersey+25+Charted&family=Righteous&display=swap');
body{
    font-family:'Jersey', static;
}
:root{
    --primary-color:#DA4167;
    --secondary-color:#083D77;
    --accent1-color:#F4D35E;
    --acent2-color:#F78764;

    --heading-font:'Cinzel', serif;
    --paragraph-font:'Jersey', serif;

    --nav-background-color:#F4D35E;
    --nav-link-color: #F78764;
    --nav-hover-link-color:#DA4167;
    --nav-hover-background-color:#083D77;  
}
html {
    background-color: lightyellow;
}
body{
    font-family:var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
    color: blueviolet;
}
div {
    background-color: greenyellow;
}
p {
    padding: 25px;
}
#color1 {
    color: #DA4167;
}
#color2 {
    color: #083D77;
}
#color3 {
    color: #F4D35E;
}
#color4 {
color: #F78764;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2em;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}